[2013-10-02 15:00] ktf opened #1 "Ping people after n-days a pull request is sitting unmodified."

[2013-12-03 09:36] slava77 opened #6 "add RecoLocalMuon/GEM* to reconstruction category"
Hi Giulio,

Please add RecoLocalMuon/GEMRecHit to the reconstruction category.
It's currently not under anything

Thanks
Slava

[2013-12-08 18:49] #6 closed, assigned to nobody

[2014-01-28 10:32] #1 closed, assigned to nobody

[2014-04-02 08:23] lgray opened #46 "Please add me to follow PFlow and EGamma related developments!"
Hi,

Could you please add me to the list of watchers for:
RecoEcal/*
RecoEgamma/*
RecoParticleFlow/*
DataFormats/ParticleFlowReco
DataFormats/ParticleFlowCandidate
DataFormats/EgammaCandidate
DataFormats/EgammaReco

Thanks!

[2014-04-02 14:50] bachtis opened #48 "Watch Particle Flow (2)"
For some reason I am not able to watch PF developments and PRs any more .
For example I didnt receive mail for PR #3144 while I was expecting Jan to do the pull request
What happened?
I need to watch everyhting  in RecoParticleFlow
M

[2014-04-02 14:56] #46 closed, assigned to nobody

[2014-08-12 17:29] ktf opened #102 "Add number of errors to summary page"
@nclopezo can you please modify the script that generates the summary of PR by adding the number of errors (if any) for the various labels?

[2014-08-13 20:20] ktf opened #103 "Add watchers"
@abbiendi @trocino and Carlo Battilana (github ID?) would like to watch the following package. @degano can you take care of it?

[code]

[2014-08-14 10:34] #103 closed, assigned to nobody

[2014-08-15 12:56] #102 closed, assigned to nclopezo

[2014-10-05 09:32] slava77 opened #129 "add DataFormats/Candidate to reco category"
It is currently in analysis only, but the classes defined here are underlying classes for a large number of RECO-specific DFs.

[2014-10-06 08:05] #129 closed, assigned to nobody

[2014-10-14 19:54] #48 closed, assigned to nobody

[2015-02-05 15:06] slava77 opened #313 "RelMon threshold to report a difference"
Could you please check the settings of the RelMon running in jenkins.
Why does it not display differences that are actually showing up in the logs.
The specific case in #7565 (comment)
can be used as a reference example.

[2015-04-17 01:53] ktf commented on #313
@nclopezo did you look into this?

[2015-04-17 08:16] nclopezo commented on #313
Hi,
It seems that it was a glitch (https://github.com/cms-sw/cmssw/pull/7565#issuecomment-73120840). If this is happening again I can check it.

[2015-04-17 12:35] slava77 commented on #313
Hi David,

I'm not sure what was a glitch.
The state of RelMon is still the same, at least as of 2 days ago.

Since DAS is now a good generator of large differences in 140.53
I can use it as an example of missing differences in RelMon in 8752
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_7_4_X_2015-04-15-1100+8752/7174/

RelMon result has essentially no differences
https:/

[2015-04-17 12:36] slava77 commented on #313
(I can't reopen an issue closed by an admin)

[2015-04-21 11:21] nclopezo commented on #313
Hi Slava,

I modified the threshold to be 0.05, here are the results:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_7_4_X_2015-04-15-1100+8752/7242/140.53_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI/
Are these results better? I can try with other values if you want.

[2015-04-21 12:21] slava77 commented on #313
Hi David,

As a check, could you please generate a diff with 0.005 as a threshold.
In majority of the cases of tests in jenkins we expect no changes at all,
since we are usually rerunning on the same events.
In this test case, where files are different, the number of failed
comparisons is still fairly small.
So, a looser selection would make sense.

(recall that for  the alternative-comparisons we

[2015-04-21 13:23] nclopezo commented on #313
Here are the results with 0.005
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_7_4_X_2015-04-15-1100+8752/20/

If I modify it to run first the JR comparison, the thresholds could be assigned in a similar way as for example: https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_7_4_X_2015-04-15-1100+8752/7174/alternative-comparisons/assignedParameters.log

[2015-04-21 13:43] slava77 commented on #313
On 4/21/15 8:23 AM, David Mendez wrote:

Sorry,  I misunderstood the direction of the threshold.
It's actually showing differences less probable that the threshold.
So, lets try 0.1 for this case with many differences
(this should be an equivalent of mod 2 in the alternative-comparisons).

The mapping to the choices done in alternative comparisons should be
- 0.999 for mod=3
- 0.1 for mod=2
- 0.99

[2015-04-22 11:48] nclopezo commented on #313
Right now it is like this: https://github.com/cms-sw/cms-bot/blob/master/comparisons/analyzeFWComparison.py#L65

I can do the same with the thresholds for RelMon comparisons

[2015-04-22 11:51] slava77 commented on #313
David,
I think the same logic should work for RelMon.
Thank you.

[2015-04-23 14:21] nclopezo commented on #313
Hi Slava,
Here you can see the results with the dynamic assignment of thresholds:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_7_4_X_2015-04-15-1100+8752/38/
You can see in the file [RelMonAssignedParameters.log](https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_7_4_X_2015-04-15-1100+8752/38/RelMonAssignedParameters.log) how the parameters were assign

[2015-04-23 14:30] nclopezo commented on #313
If this is ok I will merge this new feature to the cms-bot master branch.

[2015-04-23 18:11] slava77 opened #436 "notify after the IB tests are done if PR merge included more recent changes than the IB"
I'm taking https://github.com/cms-sw/cmssw/pull/8653#issuecomment-95670597 as an example:
in a case when "(HEAD+PR merge ) vs HEAD " is not the same as "(IB+ PR merge) vs IB",
the PR integration tests actually test (redundantly) other changes that were merged after the IB used for tests was made.

Could you please add a note in the jenkins build report (the first message from ib-any-integration) p

[2015-04-24 07:37] nclopezo commented on #313
I merged it and it should now be available for the next comparisons.

[2015-04-24 10:03] slava77 commented on #313
thank you.
Sorry, I couldn't check earlier.
Looking at the RelMonAssignedParameters.log , the chosen params make sense

[2015-04-24 10:59] #313 closed

[2015-04-29 12:38] #436 closed

[2015-04-29 12:39] nclopezo commented on #436
Hi Slava,
I did it in https://github.com/cms-sw/cms-bot/pull/443

[2015-07-24 11:26] lgray opened #514 "Request that jenkins listens to @lgray"
Hi,

I've been submitting a lot of PRs lately of varying complexity.
It would be useful if I could submit Jenkins tests to ease the load on @slava77 and others.

Thanks,
-Lindsey

[2015-07-24 14:29] slava77 commented on #514
I don't think this would really help that much.

I'm OK with @lgray (and others at the level of POG/DPG contacts to be able to trigger the tests).

[2015-07-24 14:31] slava77 commented on #514
opening up the list shouldn't be used though as a way to use jenkins to run basic test of the PR code.
We need to evaluate if we have enough resources to do that.
Nominal steps imply that a developer has tested the PR in a latest IB (or, knowing all implications, in a pre-release).

[2015-07-25 17:55] lgray commented on #514
That's not what I intend to do with it. I can facilitate the routine testing of backports once the PR is submitted (after checking locally), etc. Considering I am keeping track of 20 PRs for EGM at the moment it seemed somewhat useful.

[2015-07-29 16:14] diguida opened #518 "Calibration/Hotline package to be assigned to AlCa"
Please assign `Calibration/Hotline` package to AlCa, so that AlCa conveners can give signature.

@mmusich this is something you want to watch as well.

[2015-11-30 14:46] degano commented on #518
Done in 60175386 quite some time ago.

[2015-11-30 14:46] #518 closed

[2015-11-30 14:46] #514 closed

[2015-12-15 10:40] mmusich opened #592 "Add @tocheng as watcher of AlCa"
Would you please add @tocheng as watcher of all the packages under 'alca' category?
He will be helping AlCa coordinators in reviewing AlCa-related PRs.
Thanks,
@franzoni @diguida

[2015-12-15 10:50] #592 closed

[2016-03-07 09:30] mverzett opened #640 "Add me on watch list for CalibTracker/SiStripCommon"
Dear admins,

Can I be added to the watch list for CalibTracker/SiStripCommon as I am in charge of the maintenance of the sub-package?

Thank you.

[2016-03-07 10:05] degano commented on #640
@mverzett Ciao Mauro,
done in #641.

[2016-03-07 10:05] #640 closed

[2016-04-05 12:36] ghellwig opened #657 "Add me as watcher of alca category."
Could you please add me to the watchers of the packages in the alca category?

Does this clash with the list of packages I am anyway watching, i.e. will I get duplicated emails if I watch a package already in the alca category?

-Gregor

[2016-04-05 13:04] smuzaffar commented on #657
Done here https://github.com/cms-sw/cms-bot/commit/0100fa89aa5ce7fc0dcf755753407f0a3e3f0f08
No, you should not get duplicate emails

[2016-04-05 14:09] ghellwig commented on #657
Thanks!

[2016-04-05 14:09] #657 closed

[2016-05-02 14:38] mmusich opened #671 "Add G. Mittag in the list of CMSSW_L2 (AlCa)"
Dear cms-bot managers,
please add Gregor Mittag (@ghellwig) to the list of L2s for AlCa. He's the current AlCa software coordinator.
Thanks,

attn.: @franzoni @cerminar

[2016-05-02 14:55] iahmad-khan commented on #671
https://github.com/cms-sw/cms-bot/pull/672

[2016-05-06 09:00] mmusich commented on #671
@iahmad-khan thanks

[2016-05-06 09:00] #671 closed

[2016-09-01 13:03] Martin-Grunewald opened #739 "Please add silviodonato to categories.py as L2 for "hlt""
Please add silviodonato to categories.py as L2 for "hlt"
@silviodonato

[2016-09-02 10:38] smuzaffar commented on #739
done here https://github.com/cms-sw/cms-bot/pull/740

[2016-09-02 10:38] #739 closed

[2016-09-22 20:29] kpedro88 opened #748 "Cancel ongoing tests when new tests are requested for a PR"
Subject line says it all...

If there is some scenario in which we want a previous round of tests to continue even though a new round has been requested, perhaps a "cancel tests" command could be added to the bot instead.

[2016-09-23 05:38] smuzaffar commented on #748
sounds reasonable. I would say that if "please test" command is issued after a PR update then previous tests should be cancelled and restarted.

[2016-09-23 07:28] slava77 commented on #748
On 9/22/16 10:38 PM, Malik Shahzad Muzaffar wrote:

Maybe better not make this automated?

sometimes an update introduces a bug in a small scope
sometimes an update is almost obvious but the restarted tests fail due
to IB or other issues.
For these examples we end up without any tests or QA of a large fraction
of the PR.

So, maybe "please restart test" would be more successful?

It's much easier

[2016-09-23 07:50] smuzaffar commented on #748
Yes, killing of the previous tests is not going to be automatic on the PR update. It should only happen when a PR was updated and someone ask for the test after the update.

[2016-09-23 08:25] slava77 commented on #748
On 9/23/16 12:50 AM, Malik Shahzad Muzaffar wrote:

My suggestion was to have  different kind of ways to ask for tests
- "please test":  to keep the current behavior
- "please restart test" to restart

[2016-09-23 10:29] smuzaffar commented on #748
current behaviour is
- "please test", starts tests and set "test running" status for PR
- on PR update, tests status is reset to "test pending". Any jenkins job keeps on running
- after the PR update, if you say "please test" then bot starts another test. So at one point there could be two jenkins jobs testing the same PR. Results of first job will be ignored as they were using a old commit hash.

[2016-09-23 12:36] slava77 commented on #748
On 9/23/16 3:29 AM, Malik Shahzad Muzaffar wrote:

I gave a couple of examples earlier in the thread, mostly driven by
usefulness of a human looking at the result rather than the bot setting
a label.
Since the success rate per PR due to infrastructure issues is below ~90%,
I consider failure rate too high and hope to keep some benefit of a
working test even if it was made before an update.
This ha

[2016-09-23 13:10] smuzaffar commented on #748
Yes, results for already finished tests will be available.

Currently when jenkins queue is big then I do kill jenkins jobs for same PR (if any) to get some resources free. I can provide "cancel test" to explicitly cancel any on going tests. But would still prefer to have only one jenkins job per PR running at a time.

[2016-11-18 22:51] smuzaffar commented on #748
@kpedro88 , cms-bot should not allow you to abort a running/pending test. cms-bot commands are available here  https://github.com/cms-sw/cmssw/issues/13028
Developers, who can request to start a test, can now issue any of the following command to force kill an ongoing test or the test which is pending in the queue to start.
 * abort
 * abort test
 * please abort
 * please abort test

[2016-11-19 02:52] kpedro88 commented on #748
@smuzaffar thanks! I'm sure I will have an occasion to try it out soon...

[2016-11-21 20:06] kpedro88 commented on #748
@smuzaffar I tried this on https://github.com/cms-sw/cmssw/pull/16670, which had tests already finished, but the comparison job was still queued (hadn't run yet). Does the abort functionality also kill the comparison job?

[2016-11-21 20:42] smuzaffar commented on #748
I think not. It only recognize the abort command if tests are still running (means bot has not yet added a +1 or -1). I guess I should change it to also recognize it if comparison is also on-groing

[2016-11-21 21:19] smuzaffar commented on #748
@kpedro88 , by the way if a PR is updated and someone asks for "please test" then the pr testing job will actually kill any running tests for this PR (including comparison tests). So in this case, no need to explicitly ask for abort.

[2016-11-21 21:22] kpedro88 commented on #748
@smuzaffar in https://github.com/cms-sw/cmssw/pull/16670, I asked "please test" while a comparison job had been queued from the previous test. 15 minutes later, that comparison result (from a previous commit) was posted... so I don't think this automatic cancellation works yet, unless I misunderstand what it's supposed to do.

[2016-11-21 21:25] smuzaffar commented on #748
there was typo in the jenkins pr test job name that is why it did not started the stop-ib-any-integration job. This should be fixed not (I hope, jenkins is very sensitive with space characters :-) )

[2017-03-03 13:19] slava77 opened #813 "add/expand "test with " cms-bot command to also include cmssw PRs"
this is possible manually via jenkins interface
So, why not extend this further.

[2017-03-03 17:06] smuzaffar commented on #813
+1
I would also like to expand it to provide the extra workflows to be tested. Sometime a PR fixes a workflow which is not part of standard PR testing procedure. So how about something like
```please test[ workflow WF[,WF]][ with[ #PR][ cms-sw/cmsdist#<PR>]]```
e.g.
[code]

[2017-03-03 17:45] slava77 commented on #813
On 3/3/17 9:06 AM, Malik Shahzad Muzaffar wrote:

this is even better.

I'd eventually want to ask to extend the functionality to run some
pre-packaged set of tests
extended over the short matrix (-s or -l limited) with varying
non-default number of events in each,
more events.
E.g. 10224 100 events; 10021 500 events.
We run these occasionally manually, but some more automation may be useful.

[2017-03-03 17:50] slava77 commented on #813
On 3/3/17 9:06 AM, Malik Shahzad Muzaffar wrote:

One thing that complicates this a bit is that the baseline should be
triggered as well
by this request if it's not made already and then wait for that to
complete to do comparisons.
Else, this will be just limited to a check that the extra workflow runs

[2017-03-09 18:05] slava77 opened #818 "add igprof tests to jenkins workflows"
The proposal is to instrument with mm (MEM_LIVE, MEM_TOTAL) and pp the following:
- 136.731 with 100 events; instrument step2 and 3 (the main target for me is step3, but I think that step2 is important for other areas)
- 21234.0 with 10 events [given that this starts from sim]; instrument step 1, 2 and 3
In each case a run in single thread is OK and is practical (given igprof MT [dis]functionality

[2017-03-13 09:02] smuzaffar commented on #813
cms-bot should now be able to recognize the following
[code]

The idea of testing extra workflows (which are not part of normal testing) is that most of the time a PR fixes a workflow which is failing in the IB. So there is no use of running a baseline for those workflows.

[2017-03-13 11:05] smuzaffar commented on #748
looks like test abort command is working, so closing this issue. Please re-open or create a new issue if "test abort" or "please test" is not killing the previously running tests.

[2017-03-13 11:05] #748 closed

[2017-03-28 20:56] smuzaffar commented on #818
@slava77 , So running these commands
[code]
is enough ... correct? OR can we pass both pp and mp in single command? Is there any way to disable step4   and above (if these are not needed?)

[2017-03-28 21:09] smuzaffar commented on #813
this is done. Open a new issue if this this is not behaving correctly.

[2017-03-28 21:09] #813 closed

[2017-04-03 16:33] kpedro88 commented on #818
@smuzaffar after making the cmsRun configs, one has to run igprof:
[code]

The two modes `mp` and `pp` have to run separately (I think).

The `cmsDriver.py` option `--profile mp` is definitely needed for the memory profile, but I'm not sure if `--profile pp` actually does anything important. Usually I run pp mode without that.

Maybe we want to augment `runTheMatrix.py` with an option that would e

[2017-05-18 14:18] mverzett opened #851 "BTV-dedicated github labels"
Dear experts,

I am considering if it would be beneficial for our (BTV) internal bookkeeping of the PRs to have a dedicated github label in cmssw. The idea would be that any of our developers, at the moment of creating a PR, would trigger the CMS bot to add such label and, in case for some reason we would not be notified, the conveners and RECO contacts of the group would be added in the watchers

[2017-05-18 14:18] mverzett commented on #851
@ferencek will be interested to follow the discussion

[2017-05-18 14:40] slava77 commented on #851
On 5/18/17 7:18 AM, Mauro Verzetti wrote:

Is this needed for the BTV community to be able to search for such PRs?
Current way for developers or interested to know of relevant PRs is to
be a watcher.

[2017-05-18 14:44] mverzett commented on #851
@slava77 ,
"Is this needed for the BTV community to be able to search for such PRs?"
yeah, that's the idea, so we can easily keep track of the PR status inside the BTV.

All the interested people are already watchers if the important packages, but sometimes it happened that some BTV related PR (I'm think about the track truth) might slip under the radar given they affect packages we do not touch v

[2017-05-18 15:46] slava77 commented on #851
On 5/18/17 7:44 AM, Mauro Verzetti wrote:

You could add cms-btv-pog to the list of watchers  or have relevant
github users add @cms-btv-pog and search by that
Would it work?

[2017-05-18 17:02] ferencek commented on #851
@mverzett, as long as a package is listed under `btv-pog` in https://github.com/cms-sw/cms-bot/blob/master/watchers.yaml the people belonging to that group (defined in https://github.com/cms-sw/cms-bot/blob/master/groups.yaml) will be notified. It is indeed possible that something slips under the radar if it is a change in a package not included in the watch list that still directly or indirectly

[2017-11-13 11:35] makortel commented on #818
If/when we get there, can we have the output in (addition?) in the sqlite format and use (also?) igprof-navigator?

[2017-12-03 15:06] davidlange6 opened #924 "cms-bot is ignoring some merge requests recently"
hi @smuzaffar - I notice several occurrences where the bot seems to ignore a PR eg

https://github.com/cms-sw/cmssw/pull/21586

[2017-12-03 18:06] smuzaffar commented on #924
bot did try to merge it but looks like it fail due to some unknow error (as error was ignored). I have updated bot to fail the jenkins job if it failed to merge ( https://github.com/cms-sw/cms-bot/commit/5c1775306adfd51fe8d64ca9799970de12b41256#diff-0a7e523386c241be1a6445a4901aef6c )

[2017-12-03 18:06] #924 closed

[2017-12-12 16:11] kpedro88 opened #927 "Update new package message"
https://github.com/cms-sw/cms-bot/blob/433d47e4db47afebd4648b98ef9e42d4e9d1b118/process_pr.py#L268

should now point to `categories_map.py`

[2017-12-12 16:18] smuzaffar commented on #927
thanks @kpedro88 for pointing this out. https://github.com/cms-sw/cms-bot/commit/56b33b9b4fde7339da1ee7d3712545fed4cee826 should fix this

[2017-12-13 12:59] #927 closed

[2017-12-13 22:44] #851 closed

[2017-12-14 16:37] slava77 opened #930 "false-positives in cms-bot "The following merge commits were also included on top of IB""
It looks like the detection of the last additional merge is failing and reports the last merge from an IB no matter what

One example is https://github.com/cms-sw/cmssw/pull/21708
[code]
- The commit a4f36f2 is the same as the last commit in CMSSW_10_0_X_2017-12-13-2300, which is used to run the tests. It should not be reported as a commit also included on top of IB.

[2017-12-14 17:44] smuzaffar commented on #930
@slava77 , as we are now using exact time of release tag that is why we get two commit (one for release and one for the PR). https://github.com/cms-sw/cms-bot/commit/354fde943d6cc6372b48821198618b374d80a390 should fix this.

[2017-12-14 18:22] slava77 commented on #930
On 12/14/17 9:44 AM, Malik Shahzad Muzaffar wrote:

Thank you for the quick update.

[2017-12-14 18:37] slava77 commented on #930
... but now I see that the change was redone in a different way more recently 6f7fb8b6c5ab6c66b76f6e7648bcdaff6695c3e8
which is perhaps even more straightforward.

[2017-12-14 19:08] smuzaffar commented on #930
Yes, looks like https://github.com/cms-sw/cms-bot/commit/6f7fb8b6c5ab6c66b76f6e7648bcdaff6695c3e8 gives correct results e.g. I tested it for https://github.com/cms-sw/cmssw/pull/21723 and with old implementation I get
[code]
while with new changes it give
[code]

[2017-12-14 19:08] #930 closed

[2018-01-02 22:59] kpedro88 opened #937 "add option for higher-stat relval tests"
Request from (https://github.com/cms-sw/cmssw/pull/21701#issuecomment-352999225):

This seems like a valid request to automate in-depth physics validation when needed for PRs. Most PRs won't need this.

One potential issue is that the high-stat samples would also be needed in the IB baselines. We could run them for all IB baselines, or just run them on-demand (somehow keeping track when they're al

[2018-03-12 20:07] echabert opened #959 "Add @echabert as watcher of strip packages"
Would you please add me (@echabert) as watcher of all the packages listed below ?
I'm co-covenor of the strip local reco & calib group with @mmusich
Thanks in advance

- CalibTracker/Configuration
- CalibTracker/Records
- CalibTracker/SiStrip
- DataFormats/SiStrip
- DPGAnalysis/SiStripTools
- RecoLocalTracker/ClusterParameterEstimator
- RecoLocalTracker/Configuration
- RecoLocalTracker/Records
- R

[2018-03-12 20:08] cmsbuild commented on #959
A new Issue was created by  @echabert .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-12 20:12] smuzaffar commented on #959
@echabert , sure. Please make a Pull request with the changes for https://github.com/cms-sw/cms-bot/blob/master/watchers.yaml .

[2018-03-12 21:56] #959 closed

[2018-03-15 21:20] slava77 opened #964 "relmon comparisons directory cleanup"
This is a follow up to https://github.com/cms-sw/cmssw/pull/22531#issuecomment-373371950

I checked comparison files  avialable in /afs/cern.ch/work/m/muzaffar/public/PR22531.tar.gz

by the count, most files are in the relmon directories

e.g.
./PR22531/25660/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT
28825 files

Almost all of it is taken up just by the html files t

[2018-03-15 21:21] cmsbuild commented on #964
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-26 09:17] fabiocos opened #979 "DQM monitor not showing memory reduction"
During the scrutiny of cms-sw/cmssw#22955 I have noticed that the bot report was showing no memory variation, despited a number of tests being deleted. A manual run of dqmMemoryStats.py (dqmMemoryStats.py -i 10824.0_TTbar_13+TTbar_13TeV_TuneCUETP8M1_2018_GenSimFull+DigiFull_2018+RecoFull_2018+ALCAFull_2018+HARVESTFull_2018//DQM_V0001_R000000001__Global__CMSSW_X_Y_Z__RECO.root -x --summary -u KiB)

[2018-04-26 09:17] fabiocos commented on #979
@schneiml FYI

[2018-04-26 09:17] cmsbuild commented on #979
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-04-26 09:26] davidlange6 commented on #979
i notice is that the dqm size check was done on only 8 files

likely due to something going wrong with the dqmMemoryStats call

Weird output /136.8311_RunJetHT2017F_reminiaod+RunJetHT2017F_reminiaod+REMINIAOD_data2017+HARVEST2017_REMINIAOD_data2017/step2_inDQM.root
('', 'Traceback (most recent call last):\n  File "/cvmfs/cms-ib.cern.ch/week0/slc6_amd64_gcc630/cms/cmssw/CMSSW_10_2_X_2018-04-18-2300

[2018-04-26 09:31] fabiocos commented on #979
@davidlange6 right, checking into this as well

[2018-04-26 10:03] fabiocos commented on #979
A standalone test on 136.8311 does not show any error message (and 0 difference in the content), compatible with no B-tag specific folder

[2018-04-26 10:31] schneiml commented on #979
Looks like I definitly did screw up a regexp here [1] (minus missing), though that does not entirely explain the problem yet...

[1] https://github.com/cms-sw/cms-bot/pull/972/files#diff-4cc3e6a66c2b94c385ce39318e327cbaR167

[2018-04-26 10:39] schneiml commented on #979
... but the comparison in question was done using the old cms-bot code, looking at inDQM files. The "8 files compared" can be due to how files where counted back then (only those with changes or sth. in that direction).

The failure of dqmMemoryStats on these inDQM files is interesting and surprising, maybe @dmitrijus has an idea there. Either ways, the new code looks at harvesting output (which i

[2018-04-26 13:09] dmitrijus commented on #979
The weird output reported by David should be fixed now.

[2018-04-30 10:27] smuzaffar commented on #979
this is addressed by #980

[2018-04-30 10:27] #979 closed

[2018-05-16 03:44] slava77 opened #985 "alternative-comparisons timeouts on a large set of changes"
This is a follow up to the issue observed in https://github.com/cms-sw/cmssw/pull/23135
The issue is that sometimes the alternative-comparisons are taking too long.

For the latest incident, I wanted to use this issue for tracking of the progress.
@smuzaffar please get a tarball of what was in the comparisons outputs on the node running https://cmssdt.cern.ch/jenkins/job/compare-root-files-short-m

[2018-05-16 03:45] cmsbuild commented on #985
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-05-16 07:30] smuzaffar commented on #985
@slava77 , unfortunately build area was cleaned up after the jenkins job. I have restarted the comparison job (after modifying the job configuration to not delete the workspace if job aborts). Once this is done I will provide you the tar file

[2018-05-16 07:40] makortel commented on #985
I think it would be good enough to know that a given workflow had "gazillion changes" in the DQM histograms. For the details (if they need to be checked) the alternative-comparisons would anyway be impractical in such case (so one would have to check RelMon or download the files to e.g. a private DQM GUI).

[2018-05-16 07:47] fabiocos commented on #985
while rerunning manually compare_useng_files.py with the settings used in the regular procedure, I indeed do see lots of plots being produced for this specific case as result of test failures

[2018-05-16 15:52] smuzaffar commented on #985
@slava77 , jenkins job finished now and tar file is available /afs/cern.ch/work/m/muzaffar/public/compare-root23135.tar.gz (6GB). Alternative-comparison for all other workflows took just few seconds but for 250202.181 it did not finish.

[2018-06-01 12:55] fabiocos opened #990 "report compilation warnings in PR test summary"
During a PR test, compilation warnings are visible by browsing the "Compilation" sub-page of the test output summary html, but unless this is directly inspected at any test they go unnoticed until the merge and the IB test.

The https://github.com/cms-sw/cms-bot/blob/master/report-pull-request-results.py script checks and reports only build errors, as detected by the function read_build_log_file a

[2018-06-01 12:55] cmsbuild commented on #990
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-06-01 12:57] Dr15Jones commented on #990
assign core

[2018-06-01 12:57] cmsbuild commented on #990
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-06-01 12:59] fabiocos commented on #990
@smuzaffar I could provide a suggestion, but I am not sure how to test it before its deployment

[2018-06-01 13:08] fabiocos commented on #990
Alternatively, one could at least indicate the presence of warnings in the summary page, which means touching also https://github.com/cms-sw/cms-bot/blob/master/templates/js/renderPRTests.js

[2018-06-06 11:52] smuzaffar commented on #990
@fabiocos , I am enabled the checking of warnings for PR tests. Basically I ran https://github.com/cms-sw/cms-bot/blob/master/buildLogAnalyzer.py script (which we run for Ibs) on PR logs to find out the warnings. For now, cms-bot will add in the PR results message the presence of warning or not. later I will update bot to add a `warning` label to PR so that one can quickly noticed it.

One questio

[2018-06-06 12:41] fabiocos commented on #990
@smuzaffar thank you a lot. I think that a warning is not in itself preventing the test (actually we discover some of them after merge), it should be more a helper tool for the scrutiny. Unless we want to force people to fix anyway the warning as a pre-condition, and treat it as a show-stopper. But this could be a bit extreme IMO

[2018-06-06 12:46] smuzaffar commented on #990
OK, then I will just add a `warning` label to indicate that there are warnings.

[2018-06-06 12:47] Dr15Jones commented on #990
I also vote for the warnings to not stop further testing.

[2018-06-06 13:18] smuzaffar commented on #990
OK, for each PR now cms-bot should create a `compilation-warnings` label ( like this https://github.com/cms-sw/cmssw/pull/23468 ) and one can see the build logs from the summary page e.g. https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-23502/28516/summary.html

[2018-06-06 13:34] slava77 commented on #990
On 6/6/18 6:18 AM, Malik Shahzad Muzaffar wrote:

Hi Shahzad

Is there a hook to list to ignore known warnings in this setup?

[2018-06-06 13:50] smuzaffar commented on #990
@slava77 , no, currently there is no hook to feed in the known warnings. But we can get the existing warnings from IB logs and ignore those for PR.

[2018-06-06 13:52] smuzaffar commented on #990
By the way, if we ignore the known warnings (e.g. those which are in IB) then if a PR is suppose to fix a warning but actually did not fix it then bot will ignore that too.

[2018-06-08 09:12] smuzaffar commented on #964
@slava77 , cms-bot changes https://github.com/cms-sw/cms-bot/commit/6327327f7e57a216b04d98db9cfa03ab767077f0 should allow to filter-out successful comparisons and keep only those which contain Skipped, Null or Failed.

For now this is disabled but can be enabled via jenkins job parameter. I did a dry run on PR 23520 comparisons and this is what it is going to look after the filtering
Original: htt

[2018-06-08 09:19] fabiocos commented on #964
@smuzaffar concerning your last comment, in case of full success the comparison is not shown but the corresponding Matrix Output will still be accessible, that is not affected, right?

I think this might save quite some space and avoid wasting time to search for places where differences appear. But before putting it in production people should be warend, to avoid they are surprised by the change

[2018-06-08 09:28] smuzaffar commented on #964
@fabiocos , yes the matrix output (log file) and pickle files will still be available.

Should I open a cmssw issue mentioning all L2s about the change or send a hypernews message to sw-develtools?

[2018-06-08 09:33] fabiocos commented on #964
@smuzaffar in case @slava77 is satisfied and others have no objection, I would go to an hn message, that is likely read by more people. The change will affect any developer at the end of the day

[2018-06-08 12:18] slava77 commented on #964
On 6/8/18 2:33 AM, Fabio Cossutti wrote:

It may be useful to add some text either next to the currently dead
links or actually put the files linked saying somthing like "There are
no changes in this directory, nothing to be shown or navigated to"

[2018-06-13 08:22] smuzaffar commented on #964
This is now in active for PR comparison tests.

[2018-06-13 08:22] #964 closed

[2018-07-12 12:49] #990 closed

[2018-07-17 07:42] Dr15Jones opened #1009 "Make it easy to find failures from comparison summary"
When the Comparison Summary reports a failure, it is very difficult to find the plots or other pieces of information necessary to understand the failure. Can we provide a way to quickly jump to the relevant information about a failure?

[2018-07-17 07:42] Dr15Jones commented on #1009
@slava77

[2018-07-17 07:42] Dr15Jones commented on #1009
@davidlange6

[2018-07-17 07:42] cmsbuild commented on #1009
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-07-17 07:43] kpedro88 commented on #1009
thumbs up for this!

[2018-07-17 10:14] slava77 commented on #1009
In the recent example https://github.com/cms-sw/cmssw/pull/23764#issuecomment-403248007

- DQMHistoTests: Total failures: 25
detailed info together with the summary displayed in the bot message can be found in
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_2_X_2018-07-06-2300+23764/27366/validateJR/logRootQA.log

To get there: follow the links "Comparison is ready" -> "S

[2018-09-21 08:15] smuzaffar opened #1032 "Reject PR test if there are clang warning in the files modified by the PR"
For now only enable this check for development release cycle (i.e. release based on master cmssw branch).

[2018-09-21 08:17] cmsbuild commented on #1032
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-21 08:18] smuzaffar opened #1033 "Make use of IB RelVal stats while running CMSSW Pull Request tests"
Make use of IB RelVals stats (memory usage, cpu usage etc) for running runTheMatrix for PR tests in parallel.

[2018-09-21 08:18] cmsbuild commented on #1033
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-02 11:43] smuzaffar opened #1038 "cms-bot does not reconginze the change in PR if old commit is pushed"
Currently cms-bot rely on latest commit timestamp for setting signatures and running tests. If someone force push a past commit to a PR then cms-bot does not reset signatures.

One option to avoid this is to make use of PR request pushed_at timestamp.

[2018-10-02 11:43] cmsbuild commented on #1038
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-10-02 12:12] Dr15Jones commented on #1038
assign core

[2018-10-02 12:13] cmsbuild commented on #1038
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-10-12 06:15] smuzaffar commented on #1032
this is now in production. Clang and normal build warnings coming from the files touched by PR will reject the tests.

[2018-10-12 06:15] #1032 closed

[2018-11-16 07:48] smuzaffar commented on #1009
@Dr15Jones , now on the PR summary page you will see a new link `Comparison failed` which should show you the list of workflows which have failed comparisons e.g.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-4502/31675/summary.html

https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_4_X_2018-11-15-1100+4502/29415/validateJR.html

[2018-11-26 22:48] kpedro88 commented on #1009
See #1063, which adds a list of reco differences

[2018-12-13 08:23] fabiocos opened #1069 "GitHub "squash and merge" not tracked in IB history"
I notice that a "squash and merge" GitHub action, as used for cms-sw/cmssw#25386 to get rid of big files in the PR history, is apparently not properly managed as far as the IB history is concerned.  Indeed as can be seen in https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_10_2_X this PR seems not present, while the code is indeed there (checking with a git log or looking at the commit history

[2018-12-13 10:36] fabiocos commented on #1069
@perrotta thank you for noticing it, that is interesting, it seems to be a bit unrelated from the use of the GitHub squash, as to merge those the "regular" procedure was used...

@smuzaffar any idea? A collateral damage of the history cleaning? Do we have a safe way to manually amend release notes? Ultimately this is what matters most to my mind for future reference

[2018-12-13 10:55] smuzaffar commented on #1069
the sha pointing in cms-sw/cmssw#25016 did not match the history of cmssw (because of re-write of history) that is why this release note generation script ignore this PR [a]. Anyway, I have updated the sha now ( https://github.com/cms-sw/cms-prs/commit/7b0458987a4a9b5d8d90ac2ef2256b9f2416b45c#diff-f6d5d492efe81a492f3a54ccc5a2f3b6 ) and re-generated the release notes. Yuo should now see this PR in

[2018-12-13 12:33] fabiocos commented on #1069
@smuzaffar thank you, this has fixed #25016 . No idea of what has happened to the other two PR that were mentioned by @perrotta

[2018-12-13 12:44] smuzaffar commented on #1069
ah ok, we also need to fix those PR too. Any PR which was merged after  cms-sw/cmssw#25016 and before the re-write of history should have the same issue. I will fix these too and will -regenerate the release notes.

[2018-12-13 12:52] smuzaffar commented on #1069
OK this should be fixed now https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre4
Three PRs had issue , 2 which @perrotta mentioned plus
- cms-sw/cmssw#25443 : Define new run2_miniAOD_devel and run2_nanoAOD_102Xv1 modifiers

[2018-12-13 12:59] fabiocos commented on #1069
thanks, comparing with the "git log" output now it should be ok.

[2018-12-13 15:45] kpedro88 commented on #1069
@smuzaffar I'm not entirely sure how you did the history cleaning, but in the future (if necessary again, hopefully not), the option `--preserve-merges` can be used with `git rebase`.

[2018-12-14 07:13] smuzaffar commented on #1069
@kpedro88 , I used BFG tol https://github.com/IBM/BluePic/wiki/Using-BFG-Repo-Cleaner-tool-to-remove-sensitive-files-from-your-git-repo and it did kept the merge commits. problem is that we have this repo https://github.com/cms-sw/cms-prs where we keep track/cache of all PRs. Information from this repository is used for generating release-note. As the history was changed so the sha to PR mapping d

[2018-12-16 15:58] fabiocos commented on #1069
@smuzaffar coming back to the original issue: I think that the source of the problem sits in the method here https://github.com/cms-sw/cms-bot/blob/master/github_utils.py#L216 where the pre-formatted output of the comment to a merge bot action is used to identify the commit corresponding to a merged PR. The simplest thing is clearly to use that message if one wants to (exceptionally) use the squas

[2019-01-08 14:05] thomreis opened #1076 "Remove thomreis from L1 trigger category"
Please remove "thomreis" as L2 signature from l1 trigger category.

[2019-01-08 14:05] cmsbuild commented on #1076
A new Issue was created by  @thomreis Thomas Reis.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-08 15:33] Dr15Jones commented on #1076
See https://github.com/cms-sw/cms-bot/pull/1077

[2019-01-14 12:54] #1076 closed

[2019-02-13 21:49] kpedro88 opened #1090 "Remove mention of AFS from release build messages"
We probably don't need to see the message "CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS." every time we build a release.

The bot workflow could probably be simplified somewhat with this message removed, but I am not 100% sure of the details of where to remove everything related to it.

[2019-02-13 21:49] cmsbuild commented on #1090
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-16 08:09] #1009 closed

[2019-02-20 21:44] kpedro88 opened #1094 "Apply categories_map to cms-data"
The repositories in cms-data correspond to packages in cmssw. The same L2s from categories.py and category_map.py should be automatically assigned to review cms-data PRs.

[2019-02-20 21:45] cmsbuild commented on #1094
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-21 08:08] smuzaffar commented on #1094
@kpedro88 , thanks for opening the issue. It is work in progress. We want to setup automatic testing of cms-data and cms-externals PRs via bot too. Once that is setup then we will teach the bot to assign L2s for cms-data too.

[2019-02-25 16:05] smuzaffar commented on #1090
https://github.com/cms-sw/cms-bot/pull/1096 should remove the AFS deploy message. I keep the message around as in future we will need it for CVMFS installation.

[2019-02-25 16:05] #1090 closed

[2019-04-01 14:12] kpedro88 opened #1107 ""please close" for cmssw repo"
I noticed that https://github.com/cms-sw/cms-bot/blob/master/cmsdist_merge_permissions.py has an option "please close" to close a cmsdist PR. Could this be added for L1s/L2s to close CMSSW PRs as well?

[2019-04-01 14:13] cmsbuild commented on #1107
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-01 15:18] smuzaffar commented on #1107
@kpedro88, cmsdist_merge_permissions.py is for cmsdist `comp`  developers so that they can merge/close cmsdist PR released to cmsdist comp_* branches.

But if we want this feature for cmssw then we can add 'please close' command to cms-bot

[2019-04-01 15:21] kpedro88 commented on #1107
Yes, that is what I meant.

[2019-04-02 07:32] schneiml opened #1110 "Batch download of test outputs"
Asking here for lack of a better forum: Is there a good way to download the `runTheMatrix` outputs from e.g. here?
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-26232/33881/runTheMatrix-results/

One would think that `curl` + `cern-get-sso-cookie` does the trick, but I can't get it to work on this page. Are there other options (URL inside CERN without SSO, or SSH to the

[2019-04-02 07:32] cmsbuild commented on #1110
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-02 07:46] kpedro88 commented on #1110
`cern-get-sso-cookie` is supposed to work, but I have found it to be very inconsistent. Unfortunately I don't know of a better solution, besides e.g. using a browser plugin.

[2019-04-02 14:36] fabiocos opened #1111 "Run TimeMemorySummary.py in PR tests"
Recent discussions about performance changes pointed to a usefulness of simple time and memory evaluation even in PR-like tests. Of course the timing information cannot be taken as a serious measurement of performances (dependent on machine and its load) but it could help in noticing large changes. The ```--customise Validation/Performance/TimeMemorySummary.py``` option is already used in the IB,

[2019-04-02 14:36] cmsbuild commented on #1111
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-02 14:37] kpedro88 commented on #1111
Maybe we could make a version of it that only prints the summary? The per-event info makes the logs huge and hard to read, and I usually don't find it very useful.

[2019-04-02 14:39] kpedro88 commented on #1111
Ah, that is the summary version, distinct from `TimeMemoryInfo`.

[2019-04-02 14:40] fabiocos commented on #1111
We are not printing Time info per event, just memory jumps when the happen....
Still the trigger output summary is huge when written (and timing detail as well)

[2019-04-02 17:00] fabiocos commented on #1111
@smuzaffar in case, looking at the bot code, in particular https://github.com/cms-sw/cms-bot/blob/master/run-pr-tests#L640 this update would men adding to EXTRA_MATRIX_ARGS ```--command "--customise Validation/Performance/TimeMemorySummary.py"``` right?

[2019-04-02 17:45] smuzaffar commented on #1111
@fabiocos , yes that is the correct place. As it is available in all release cycles so we can just hard code it here https://github.com/cms-sw/cms-bot/blob/master/run-pr-tests#L640

[2019-04-03 16:37] fabiocos commented on #1111
@smuzaffar should we consider also https://github.com/cms-sw/cms-bot/blob/master/pr_testing/test_multiple_prs.sh#L836 ?

[2019-04-03 18:34] smuzaffar commented on #1111
yes that should be updated but I will ask @gudrutis to sync in other changes too. For now #1112 is good enough to go in.

[2019-04-05 09:48] smuzaffar commented on #1111
I have merged #1112 and @gudrutis is going to fix the test_multiple_prs to include the changes.

[2019-04-05 09:48] #1111 closed

[2019-04-05 10:16] smuzaffar commented on #1110
The following works for me but I do not know how to download the directory.

[code]

[2019-04-07 20:46] fabiocos commented on #1069
Coming back to this issue: from recent discussions with @Dr15Jones and @slava77 I understand that squashing of very long PRs with many commits is not encouraged, even if done in separate PR preserving the review history. Clearly for well organized and commented commits the separation contain useful information, which is lost in suqashing even though the history of commits is kept. Unfortunately th

[2019-04-07 21:22] fabiocos opened #1116 "Check of merge commits in PR"
cms-bot is checking and listing the merge commits appearing in a test of a PR. The use of cms-merge-topic in the preparation of PRs is clearly discouraged in our documentation https://cms-sw.github.io/tutorial-resolve-conflicts.html , but in practice merge commits are often found in the PRs, both as merge of branches (e.g. master to update the PR), or even using cms-merge-topic. I guess that devel

[2019-04-07 21:22] cmsbuild commented on #1116
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-08 07:16] kpedro88 commented on #1116
Several years ago I added the "...with cms-merge-topic" in the merge commit message created when using `cms-merge-topic` so it would be easier to identify improper use of this command, but there was never agreement on what the bot should do with this info.

It seems here you're trying to look for duplicate merges of PRs already merged in master?

[2019-04-08 11:20] fabiocos commented on #1116
@kpedro88 yes, this looks to be the really dangerous case...

[2019-04-09 07:54] schneiml commented on #1110
Thanks @smuzaffar, that indeed works. One of the many curl options there must make the difference. Getting all the files is easy then (adjust regexp's to whatever you care about):
[code]

[2019-04-09 07:54] #1110 closed

[2019-04-16 09:14] andrius-k opened #1124 "Is it possible to download baseline output files?"
Now that we know how to batch download files from the test results: [https://github.com/cms-sw/cms-bot/issues/1110](https://github.com/cms-sw/cms-bot/issues/1110), is there a way to download not only PR output but also the baseline files?

[2019-04-16 09:14] cmsbuild commented on #1124
A new Issue was created by  @andrius-k Andrius.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-16 14:30] kpedro88 commented on #1124
Go to the IB page: https://cmssdt.cern.ch/SDT/html/showIB.html
Click on "Comparison baseline" for the desired release
then follow the same procedure.

If you are starting from a PR test page, you can click the linked IB name under the "Tests Results" heading to go directly to that IB on the IB page.

[2019-04-17 10:47] andrius-k commented on #1124
@kpedro88 Perfect, thanks!

[2019-04-17 10:47] #1124 closed

[2019-05-09 09:26] fabiocos opened #1134 "Missing DQM comparison report"
Since a couple of days at least the DQM comparison report is missing in the PR test output, with the message:

[code]

A problem was also previously reported about missing directories in the comparison of some workflows.

[2019-05-09 09:26] cmsbuild commented on #1134
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-09 09:27] fabiocos commented on #1134
@smuzaffar @mrodozov for instance see in https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-607ffb/54/summary.html

[2019-05-09 09:35] smuzaffar commented on #1134
@gudrutis , this could be the side effect of new PR testing job.

[2019-05-09 09:54] smuzaffar commented on #1134
@fabiocos  , this is fixed now and already uploaded PR results are also fixed e.g check https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-607ffb/54/summary.html

[2019-05-09 09:59] fabiocos commented on #1134
@smuzaffar thanks, this now works, still the initial problem looks still there, see in https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_10_6_X_2019-05-07-1100+607ffb/31550/ for instance: for wf 136.8311 the comparison directory is missing, but this is part of the short matrix for which there is a baseline reference (https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tes

[2019-05-09 10:04] smuzaffar commented on #1134
Please see https://github.com/cms-sw/cms-bot/issues/964#issuecomment-395701108 , we only upload those wf which contain Skipped, Null or Failed

[2019-05-09 11:20] fabiocos commented on #1134
@smuzaffar and I was supporting this and it was requested by @slava77 :-) ... good memory refresh, thanks, it is not a bug but a feature

[2019-05-09 11:20] #1134 closed

[2019-05-09 12:52] gartung opened #1135 "Create FWLite repo like Stitched"
This repo would hold only the sources needed to build FWLite/Fireworks. In addition it would hold the generated CMakeLists.txt files and Serialiazation.cc files from Condformat/*Object.

[2019-05-09 12:52] cmsbuild commented on #1135
A new Issue was created by  @gartung Patrick Gartung.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-09 13:43] Dr15Jones commented on #1135
@gartung would this aid in making a sustainable Conda package?

[2019-05-09 14:08] gartung commented on #1135
Yes. I would make the source more "official"

[2019-05-12 03:32] smuzaffar commented on #1094
This is now done. cmsbot now assign categories to cms-data and also can test all cms repositories using `please test` and `please test with....` commands

[2019-05-12 03:32] #1094 closed

[2019-05-12 03:36] smuzaffar commented on #818
we have been running igprof for these workflows in IBs for few weeks now (e.g. https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_10_6_X_2019-05-11-1100 ). Igprof navigator is also setup. Just browse through the links.

[2019-05-12 03:36] #818 closed

[2019-05-12 03:36] cmsbuild commented on #818
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-20 15:23] smuzaffar commented on #1135
@gartung , I can create FWLite repo but you might not be able to use it as it is. I am using https://github.com/cms-sw/git_filter to filter packages and force push the changes to Stitched repo. Every time this is run it creates different commit hashes (that is why I need to force push). So if you would like to add CMake files on top of it then they will be overridden on next push.

[2019-05-20 15:26] gartung commented on #1135
I will not commit CMakeLists.txt once I have https://github.com/gartung/buildfile2cmake working fully.

[2019-05-20 15:28] smuzaffar commented on #1135
Then can't you use cms-sw/cmssw repo plus https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_0_X/gcc700/fwlite_build_set.file to get the FWLite sources?

[2019-05-20 15:30] gartung commented on #1135
So you are suggesting a spare checkout with fwlite_build_set.file as the contents of .git/info/sparse-checkout?

[2019-05-20 15:34] gartung commented on #1135
For conda builds a tagged version is preferred.  I will need to see if I can use a sparse checkout during the conda build. If I can make that work then I will close the issue.

[2019-05-20 15:36] gartung commented on #1135
Also sparse checkout does not address adding the generated serialization files.

[2019-05-20 15:37] smuzaffar commented on #1135
yes something like that. fwlite_build_set.file is not exactly in sparse-checkout format e.g. you might need to add `/` in front of each line

[2019-05-20 15:37] smuzaffar commented on #1135
serialization files you have to generate any way, they are not part of cmssw

[2019-05-20 15:40] gartung commented on #1135
Generating the serialization files on macOS is problematic. I would prefer to generate them on Linux and add them as source.

I guess there will be no official source for the conda build.

[2019-05-20 15:40] #1135 closed

[2019-05-20 16:13] smuzaffar commented on #1135
If you need a source repo for conda then we can create an empty cmssw/FWLite repo where you can push sources from linux. You can start with cmssw tag, sparse checkout fwlite packages, generate serialization and add cmake files and push those as tag to cms-sw/FWLite.

[2019-05-20 16:47] gartung commented on #1135
Ok. Please create  cmssw/FWLite repo and give me permissions to write to it.

[2019-05-20 17:05] kpedro88 opened #1141 "Track PR signatures by label in cms-data"
Followup to #1094:

I keep track of pending pull requests in my category using this page:
https://github.com/cms-sw/cmssw/pulls?q=is%3Apr+is%3Aopen+label%3Aupgrade-pending

Now category signatures are required in cms-data, but there are currently 50 repos in that organization.

Is there some way (on our side or GitHub's side) to aggregate the status of PRs from all cms-data repos?

[2019-05-20 17:06] cmsbuild commented on #1141
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-21 12:42] smuzaffar commented on #1141
@kpedro88 there is nothing from github itself for this. We might have to cook up something ourself.
@gudrutis , can we make use of https://github.com/cms-sw/cms-prs to somehow present this information?

[2019-05-22 13:15] smuzaffar commented on #1141
@kpedro88 , @gudrutis mentioned that one can use the github queries to see the PRs from different organizations e.g `is:pr archived:false org:cms-data org:cms-externals org:cms-sw is:open label:orp-pending`  is going to show all cms PRs from all our github orgs.

https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+archived%3Afalse+org%3Acms-data+org%3Acms-externals+org%3Acms-sw+is%3Aopen+label%3Aorp

[2019-05-22 13:17] kpedro88 commented on #1141
Excellent! I did not know about this view. Thanks @gudrutis

[2019-05-22 13:17] #1141 closed

[2019-05-23 07:05] smuzaffar commented on #1107
cms-bot now recognize 'please close' command from L1/L2 and release managers
http://cms-sw.github.io/cms-bot-cmssw-cmds.html

[2019-05-23 07:05] #1107 closed

[2019-05-23 07:08] fabiocos commented on #1107
@smuzaffar this is additional on top of the native GitHub button, whose functionality is restricted, am I correct?

[2019-05-23 07:17] smuzaffar commented on #1107
yes, "Close" button is only visible to those who have write/admin permission of the repo. This will allow L2's to also close PRs instead of waiting on one of administrators.

[2019-06-07 15:30] fabiocos commented on #1116
The recent update by @smuzaffar to the merge tests allows to monitor in the PR checks which other PRs are added on top of the tested one, separating from other merge commits inside the PR itself. This is very helpful to interpret the comparison results, but I guess this is not telling us whether the original PR has some pathological merge inside it.

[2019-06-07 15:42] fabiocos opened #1149 "Test whether a PR modifies the same files as other open PRs in the same branch"
With the recent massive clang-format migration we have experienced multiple cases of PRs touching the same files that give rise to conflicts when one of them is merged. With such a large set of PRs and affected files it is difficult to easily keep track of all the possible conflicts.

In order to make this check easier, I have prepared a simple script based on the available PR monitoring snapshot

[2019-06-07 15:42] cmsbuild commented on #1149
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-07 15:43] #1069 closed

[2019-06-07 15:50] fabiocos commented on #1033
@smuzaffar related to this, now that we are keeping the performance info for PR tests in JobReport.xml, it would be useful to add them also for baseline results, so as to make comparison (although to be taken with care). Which are the scripts to be touched? I see the old standard option mentioned in https://github.com/cms-sw/cms-bot/blob/master/RelValArgs.py#L26 , so it could be probably updated t

[2019-06-10 22:10] kpedro88 opened #1151 "Problem with igprof in IBs"
I noticed there is no step3 profile for WF 136.731. The problem appears to be that the file name is too long (e.g. in https://cmssdt.cern.ch/SDT/jenkins-artifacts/igprof/CMSSW_11_0_X_2019-06-10-1100/slc7_amd64_gcc700/pp/136.731_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSinglePh_HIPM+HARVESTDR2/step3_RunSinglePh2016B+RunSinglePh2016B+HLTDR2_2016+RECODR2_2016reHLT_skimSingl

[2019-06-10 22:11] cmsbuild commented on #1151
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-23 22:57] gudrutis commented on #1151
This code fragment in CMSSW is responsible for generating filenames. I suggest using hashcode in such case.
https://github.com/gudrutis/cmssw/commit/422e8fa3a6af40aac7b90146714061cab2b5e5f7
Let me know if you think we should keep some info in the filename or hash is enough, for example, "step3_234567".

[2019-06-25 07:28] smuzaffar commented on #1149
@fabiocos , this has been integrated in cms-bot code checks https://github.com/cms-sw/cmssw/pull/27160#issuecomment-505321860

[2019-06-25 08:13] fabiocos commented on #1149
@smuzaffar thanks, I think this may be quite useful

[2019-06-25 08:16] #1149 closed

[2019-06-25 12:41] gudrutis commented on #1151
Should be fixed by https://github.com/cms-sw/cmssw/pull/27338

[2019-07-04 10:58] #1151 closed

[2019-07-12 12:06] fabiocos commented on #1116
the test can anyway be done offline.

[2019-07-12 12:06] #1116 closed

[2019-07-17 14:41] fabiocos opened #1169 "Modules taking long time during test of cmsdist with big rebuilds"
In the test of cms-sw/cmsdist#5091 we have noticed some tests taking long time in some modules, this can be seen from the message issued now by

https://github.com/cms-sw/cmssw/blob/master/Validation/Performance/python/TimeMemoryJobReport.py#L12

This has been already observed in a ROOT rebuild test, and is not seen in the corresponding baseline IBs (although we do not have a systematic monitoring

[2019-07-17 14:41] cmsbuild commented on #1169
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-17 14:49] mrodozov commented on #1169
tests are not started (neither unit tests nor relvals) until the completion of the rebuild. If the assumption is such that a test run might interfere with compilation. @slava77 would you elaborate on that suggestion ?

[2019-07-17 15:01] slava77 commented on #1169
- Are the execution of the tests  and the build  reading/writing to the same locally mounted disk? (imagine this is a network mount shared with other read/writes; I can see how lots of I/O leads to some transient "locks")
- Is anything else allowed to run on the same nodes? (imagine that for a long build something else sneaks in and overloads the node by the time the tests  start)

[2019-07-17 15:25] davidlange6 commented on #1169
(essentially) all the hardware is virtual, right @mrodozov ? (so shared in practice)

[2019-07-17 15:28] fabiocos commented on #1169
we cannot use the measurements of time are rigorous benchmarks because even if the VM machine would be exclusively used for us, we have no control on the underlying bare metal, this was the conclusion from discussions with @smuzaffar

[2019-07-17 15:29] fabiocos commented on #1169
from this to exceeding 600 seconds in a second module the step is a biut longer, but it might depend on some particular spike in the hardware load?

[2019-07-17 18:10] mrodozov commented on #1169
when a test of type test-this-pull-request and others like building and IB is running nothing else is allowed to run , we limit that having single jenkins executor per machine, with few exceptions, and focus on what and how is running for utilising it.
Every build machine we have (and the dev machines btw) has its own disk attached to it with name like this:
cmsbuild31_vol_447 on /dev/vdb
for our

[2019-08-16 16:23] christopheralanwest opened #1188 "Use another PR in baseline for comparison tests"
During the development of conditions, AlCa finds it useful to separate PRs that update the global tags in autoCond into logically separate pull requests. In particular, coupled code+conditions updates should not introduce additional, unrelated condition changes. This helps to cross-check that no changes were introduced into workflows other than those intended. For example:

- https://github.com/cm

[2019-08-16 16:24] cmsbuild commented on #1188
A new Issue was created by  @christopheralanwest .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-22 17:06] kpedro88 opened #1191 "Persistent test settings"
A common source of churn in PR tests occurs when someone misses special settings that were used in a previous test, and then the tests must be restarted/repeated.

It would be useful to have some way to tell the bot that a certain workflow, external, etc. should always be used to test the PR. That way, if someone just writes "please test", the special settings will automatically be applied. The li

[2019-08-22 17:06] cmsbuild commented on #1191
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-29 16:11] smuzaffar commented on #1188
@christopheralanwest , we have the results for PRs and I think with little modification we can use that as baseline. So if I understand correctly you will be doing
- cms-sw/cmssw#27651: please test
  - Use latest IB and normal run normal tests
  - Use IB as baseline
-  cms-sw/cmssw#27698: please test baseline #27651
  - Pickup IB used for testing #27651 PR and build and test #27698 and  #27651
  -

[2019-08-29 18:50] christopheralanwest commented on #1188
@smuzaffar What you propose isn't actually what I intended nor would it work for my use case involving autoCond updates. For the UL preparation, it is desirable to include finalized conditions in autoCond in master so that most of the updates are included in 11_0_X relval tests prior to their inclusion in 10_6_X. At the same time, there are PRs that include coupled code+conditions updates, and the

[2019-09-08 08:14] smuzaffar commented on #1191
Thanks @kpedro88 for opening the issue. This ison our to do list. @mrodozov is looking in to it. We are thinking of a special comment e.g.
[code]

bot then can use the settings from the last such comment made by a user, who has rights to start tests. One can still override part of settinsg via `please test ....` comment

Is this sound reasonable?

[2019-09-08 16:44] fabiocos commented on #1191
@smuzaffar is the syntax of these extra settings flexible or rigid? I mean are all the fields always needed, or the default will be used unless specified otherwise? I guess the latter is what we want.
What about possible changes of settings during the PR review? They will be always possible I guess...

[2019-09-11 08:54] fabiocos opened #1201 "Multi-thread PR testing?"
In regular PR tests single-threaded jobs are used in order to minimize the needed resources. This prevents to test possible race conditions, which are normally caught in IBs (at least) and debugged in a standalone way. As now we have multi-lumi test workflows where concurrent lumi processing is enabled, also in this case the concurrent lumi test will be ineffective in PR tests.
@Dr15Jones to which

[2019-09-11 08:55] cmsbuild commented on #1201
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-11 14:36] Dr15Jones commented on #1201
I think it is unlikely that multi-threaded pull request test will uncover race conditions. Anymore we only find those because of the large volume of RelVals we run.

I could see for pull requests which are explicitly doing multi-thread based changes that doing at least one threaded test would make sense.

[2019-09-12 05:20] smuzaffar commented on #1201
@fabiocos , for PR tests we run in single threaded mode to get reproducible results. I think with multi-threading ON the camparison jobs will show a lot of differences.

If can add an extra multi-threaded test (separate then normal relval tests) to run on selected workflows .

[2019-09-14 16:19] kpedro88 commented on #1191
@smuzaffar this looks reasonable to me, thanks

Maybe worthwhile to have separate items for CMSSW PRs vs external PRs?

It would also be nice to have an option for the bot to print all the specified test settings, in case they get updated piecemeal over the course of a long PR review.

[2019-11-02 17:59] fabiocos opened #1221 "Incorrect list of open PRs for overlap check"
Following the report https://github.com/cms-sw/cmssw/pull/28262#issuecomment-548139480 by @slava77 : the json dictionary used to detect overlap between PRs https://raw.githubusercontent.com/cms-sw/cms-prs/master/cms-sw/cmssw/.other/files_changed_by_prs.json appears to be regularly updated according to https://github.com/cms-sw/cms-prs/tree/master/cms-sw/cmssw/.other but for the master branch it sh

[2019-11-02 18:01] cmsbuild commented on #1221
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-06 16:11] #1221 closed

[2019-12-16 16:05] mrodozov commented on #1191
@kpedro88 pls see https://github.com/cms-sw/cms-bot/pull/1234 and maybe close this.

[2019-12-16 16:18] kpedro88 commented on #1191
@mrodozov can you provide some description of how the new functionality works (preferably in the cms-bot command documentation so it's clear to everyone)?

[2019-12-16 16:30] smuzaffar commented on #1191
@kpedro88 , there are still few issues with this thatis why I did not advertise or updates here. Basic documentation is available cms-bot commands page http://cms-sw.github.io/cms-bot-cmssw-cmds.html but we are still testing this feature.

[2019-12-17 17:33] kpedro88 commented on #1191
Okay, since this is nominally in place, the issue can be closed. Thanks!

[2019-12-17 17:33] #1191 closed

[2020-01-29 12:27] smuzaffar commented on #1169
As we now have dedicated VMs , so timings should not change much. Do we still see such long times ?

[2020-01-29 12:43] fabiocos commented on #1169
@smuzaffar I do not recall messages in the last period I have followed the integration, not sure whether @silviodonato has seen them in January

[2020-05-30 08:52] smuzaffar commented on #1169
I think the issue was the steal time on old shared VMs. We should not see such issues any more as now (for last 6 months) we have dedicated VMs (no CPU overcommit) and local SSD disk.

Closing it, please open a new one if needed

[2020-05-30 08:52] #1169 closed

[2020-06-03 14:07] ericvaandering opened #1321 "New version and Nick version of Rucio client setup"
@nsmith- asked via e-mail for a different version of python to be used in Rucio so that the GFAL tools could be used. I believe that is fine for SL7, but it has some issues on SL6 because of a dependency which is python 2.7.  However, the old way for SL6 works fine except for the GFAL part.

Also, there is a new version of the Rucio client 1.22.7 with some things important to CMS in it.

Pending c

[2020-06-03 14:07] cmsbuild commented on #1321
A new Issue was created by  @ericvaandering Eric Vaandering.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-03 14:17] smuzaffar commented on #1321
@ericvaandering , I do not think that old set works for SLC6 too , for example on slc6 I get [a]

[a]
[code]

[2020-06-03 14:18] smuzaffar commented on #1321
assign externals

[2020-06-03 14:18] cmsbuild commented on #1321
New categories assigned: externals

@smuzaffar,@mrodozov,@tulamor you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-03 14:45] ericvaandering commented on #1321
Personally I am OK with saying SL6 is not supported. As Nick and I discussed yesterday, I don't think there is really a need to do anything in Rucio and an old CMS release together. And that should be the only reason someone is hanging back on SL6.

[2020-06-03 14:58] nsmith- commented on #1321
Yeah as far as I know the previous setup did not work for SL6, I had made https://github.com/dmwm/CMSRucio/issues/123 at some point even.
I am OK with the new version in IB being the default, but I let Eric comment about updating the client.

[2020-06-03 17:26] smuzaffar commented on #1321
I have install rucio client 1.22.7 under  /cvmfs/cms-ib.cern.ch/rucio . Please try to `source  /cvmfs/cms-ib.cern.ch/rucio/setup.sh`  and test it. gfal-* tools should work under this env as it uses system python. Note that is only works for slc7. on slc6 it will give error
[code]

let me knowif this looks good so that I can deploy it under /cvmfs/cms.cern.ch/rucio

[2020-06-04 08:41] smuzaffar commented on #1321
I tried few `rucio` and  `gfal-*` commands under new rucio env and they work but `gfal-copy` fails (may be I do not have rights to copy).

[a]
[code]

[2020-06-04 12:59] davidlange6 commented on #1321
out of curiosity - how does this setup evolve to support things like cc8 and python3?

[2020-06-04 13:08] smuzaffar commented on #1321
@davidlange6 , The setup install rucio under arch/os (e.g. x86_64/slc7 or x86_64/cc8). So for cc8 it will just use a different directory.

As it uses system python and gfal, so we have to stick to the python version used by gfal. If system gfal links against py3 then we just install rucio  for python3.

[2020-06-04 13:14] davidlange6 commented on #1321
ha - so indeed, having python scripts in /usr/bin that start with #/usr/bin/python2 is not very promising:(

[2020-06-04 13:17] smuzaffar commented on #1321
It is not only scripts but there is a shared library ( /usr/lib64/python2.7/site-packages/gfal2.so ) which comes with it

[2020-06-04 13:20] davidlange6 commented on #1321
anyway, all the more reason the system python is the thing to use here

[2020-06-05 08:45] smuzaffar commented on #1321
@ericvaandering , new rucio version 1.22.7 is now available in default location `/cvmfs/cms.cern.ch/rucio` . New version uses system python.

In case this does not work then you can still `source /cvmfs/cms.cern.ch/rucio/setup-old.sh` to get the old rucio setup (version `1.22.2`)

[2020-06-11 09:51] smuzaffar commented on #1321
new version using system python is now available

[2020-06-11 09:51] #1321 closed

[2020-06-29 12:55] slava77 opened #1335 "add ability to address/tag L2 area by category (without assigning a label to a PR)"
occasionally a direct message to people from a review category is needed.
Tagging is possible by assigning a label, which is not always appropriate and is also limited to L1/L2 roles.
A direct alternative is to reverse the list of github account names from the categories.py file.

Something like ```[@cmsbuild[, please]] notify reconstruction``` could resolve the issue.

[2020-06-29 12:55] cmsbuild commented on #1335
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-29 13:02] Dr15Jones commented on #1335
I often find myself digging through the cms-bot categories.py file in order to do this exact thing. It would definitely be nice if the bot could handle it directly.

[2020-06-29 13:02] Dr15Jones commented on #1335
assign core

[2020-06-29 13:02] cmsbuild commented on #1335
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-29 13:26] makortel commented on #1335
I'd like such a feature as well. While we're at it, other case where I go look for `categories_map.py` is to find which L2 area is responsible for a given package when assigning issues. It would help me if the bot could recognize something along `assign FWCore/Framework` to look all L2 areas assigned for `FWCore/Framework` and assign them (the exact syntax could be better than what I sketched here

[2020-06-29 13:27] smuzaffar commented on #1335
@slava77 , if I understand correctly, this command basically adds members of a category as watcher of the PR ... right?

[2020-06-29 13:30] smuzaffar commented on #1335
@makortel , can't you use http://cms-sw.github.io/categories.html to find this mapping?

[2020-06-29 13:46] makortel commented on #1335
I could but I don't see how it would be different from `categories_map.py`. I mean, either way I need to search for all occurrences of the package, and then scroll upwards to find the L2 category (admittedly the `categories.html` is clearer to read). It's not really a big burden, but I wanted to mention it out loud in case something like that would be easy to implement.

[2020-06-29 14:10] slava77 commented on #1335
yes, almost.

This does not resolve a similar case where pinging individual(s) from a category directly helps to get more attention.
Perhaps a similar syntax, in addition to updating the watcher list of the PR can also be used to post "dear [least of github names] your attention is needed for this PR in message [link or quote]" to be posted by the bot following a trigger message directed to the ca

[2020-06-29 14:13] slava77 commented on #1335
admittedly, that was a feature creep comment.
My initial submission implied only the watcher list update per PR or per issue.

[2020-06-29 15:34] smuzaffar commented on #1335
@makortel , many times due to a typo bot simply ignores the comment while user waits for hours to bot to recognize the comment. In case of package names there is more chances of typos :-)

[2020-06-29 15:37] smuzaffar commented on #1335
@slava77 , how about we create one team per category and you can do `ping @ category` so that github send notifications for the member of that team? Having github teams means less change of typos too

[2020-06-29 15:43] slava77 commented on #1335
this sounds good;
I suppose that the pattern will be something like @cms-sw-core

[2020-06-29 15:48] smuzaffar commented on #1335
yes, the syntax will be `@ cms-sw/category-name`

[2020-07-09 21:43] smuzaffar commented on #1335
Github teams `@cms-sw/<category>-l2` are now available . Now one can use `@cms-sw/<category>-l2` in comment to ping the members of team.

[2020-07-09 21:43] #1335 closed

[2020-08-03 17:13] gartung opened #1353 "Jenkins job with real data workflow 136.836 segfaults"
Not sure what error code means. Could be a permissions error?

[code]

When I run interactively on lxplus a file from offsite is opened.

[code]

[2020-08-03 17:13] cmsbuild commented on #1353
A new Issue was created by  @gartung Patrick Gartung.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-03 17:16] gartung commented on #1353
The file appears to open. Maybe there are not 100 events?

[code]

[2020-08-03 17:21] gartung commented on #1353
Jenkins log show a segmentation violation.

[code]

[2020-08-03 18:01] makortel commented on #1353
@gartung Could you report the error in cmssw repo instead of the cms-bot?

[2020-08-03 18:04] gartung commented on #1353
Done

[2020-08-03 18:04] #1353 closed

[2020-10-14 12:37] jpata opened #1396 "compare file & product sizes"
Add file size comparison to the bot tests.

via Slava:

(as a note to myself, or others)

[2020-10-14 12:37] cmsbuild commented on #1396
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-16 13:58] jpata commented on #1396
related issue: https://github.com/cms-sw/cmssw/issues/31817

we can track this in the phase2 PU profiling test, just need to understand where to put this in the scripts

[2020-11-19 12:59] jpata commented on #1396
#1414 and #1413 were merged, thank you @gartung and @smuzaffar! I think this issue is solved and can be closed.

[2020-11-19 13:04] smuzaffar commented on #1396
thanks @jpata for this good work

[2020-11-19 13:04] #1396 closed

[2020-12-07 21:12] smuzaffar commented on #1038
bot now uses commit statuses to keep track of test results. This issue can be closed now

[2020-12-07 21:12] #1038 closed

[2020-12-17 16:12] slava77 opened #1454 "restore commit ID in the PR tests"
after some recent updates commit info of the tested PR in the test summary (`Tested at: abcabc1`) was dropped.
This prevents appropriate matching with the code used for the tests.
Please restore the commit info or add other means to get the details of the test setup.

Initially posted in https://github.com/cms-sw/cmssw/pull/32291#issuecomment-747182750

[2020-12-17 16:13] cmsbuild commented on #1454
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-17 16:46] jpata opened #1455 "run GPU workflows with the bot"
For the recent PRs cms-sw/cmssw#31719, cms-sw/cmssw#31720 etc, we have started to test the GPU workflows that are in the matrix on local GPU-enabled machines.

I'm making this issue to keep track of the status of `enable gpu` support for running GPU workflows in the matrix directly with jenkins.

[2020-12-17 16:46] cmsbuild commented on #1455
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-05 16:55] smuzaffar commented on #1454
@slava77 , https://github.com/cms-sw/cms-bot/pull/1458 should include the commit id (e.g. see https://github.com/cms-sw/cms-bot/pull/1458#issuecomment-754688935 ). Is this good enough to close this issue?

[2021-01-05 17:54] slava77 commented on #1454
looks good
Thank you.

[2021-01-05 17:54] #1454 closed

[2021-01-08 10:58] smuzaffar commented on #1455
@jpata , bot is now able to run GPU tests as part of standard PR tests. Currently the GPU tests for PR are defined in  https://github.com/cms-sw/cms-bot/blob/master/cmssw-pr-test-config#L2 . I can also include `-w gpu` to run all gpu related relvals

[2021-01-15 15:15] smuzaffar commented on #1201
Do we still need this? As now bot runs separate tests jobs for PRs, so we can add an additional test to run short matrix in multi-threaded mode ( or run such a test when explicitly enabled e.g. using `enable threading` ).  I agree with @Dr15Jones  that such test might not catch all the threading issue.

FYI @makortel

[2021-01-15 15:17] smuzaffar commented on #1455
@jpata , can we close this or is there any thing which is still missing for gpu tests?

[2021-01-15 15:22] jpata commented on #1455
Thank you @smuzaffar, looks like it's good!

[2021-01-15 15:24] #1455 closed

[2021-01-15 15:32] fabiocos commented on #1201
@smuzaffar my original idea was based on the experience of problems that may appear on small scale tests. Of course this cannot be exhaustive, reproducible, and it is more a limited way to catch macroscopic issues than to protect against any possible race conditions. At this point I let FWK and release managers @silviodonato @qliphy experts to decide based on their more recent experience

[2021-01-15 16:19] silviodonato commented on #1201
In the past this feature would have been useful for the migration to the new DQM modules and for the concurrent lumi processing. A part from this we encountered several time errors in IBs related to multithreading but, as you said, most likely they could not be caught in the PR test anyway because of the limited statistic.
One good example in favour of having a multithreaded workflow is https://gi

[2021-01-15 17:00] makortel commented on #1201
Another recent example, that probably would have caught multithreading problems before merge, was the first attempt of DD4Hep workflows (assuming `enable threading` would also be able to run extra workflows).

I agree with comments of @Dr15Jones and @silviodonato, i.e.

[2021-01-27 18:44] smuzaffar commented on #1201
bot now supports
[code]
to run short matrix with `-t 4 -i all`. In case you want to pass extra parameters to runTheMatrix job then one can use `test parameters` command e.g.
[code]

[2021-01-27 18:44] #1201 closed

[2021-03-29 12:27] jpata opened #1524 "PR testing, memory info"
We are trying to profile the PR https://github.com/cms-data/RecoHGCal-TICL/pull/3 and noticed that with "enable profiling", the memory profiles are not part of the results. Recalling past discussion, I understand `igprof mp` is not run as part of `enable profiling`. I'm opening this PR to restart/document this discussion. Could `igprof mp` be considered (also for the baseline)?

As an alternative,

[2021-03-29 12:27] cmsbuild commented on #1524
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-29 14:51] jpata opened #1525 "parse and monitor JobReport.xml"
The `JobReport*.xml` files that are produced in the matrix baseline as well as for the PR tests seem to contain a lot of useful performance information about the PR.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-baseline-tests/CMSSW_11_3_X_2021-03-26-1100/slc7_amd64_gcc900/-GenuineIntel/matrix-results/23234.0_TTbar_14TeV+2026D49+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARV

[2021-04-22 09:32] rovere opened #1539 "Security Issue?"
Dear all,
the parsing that uses [this](https://github.com/cms-sw/cms-bot/blob/485b0316404a788416d5c953764deb21aa59b375/process_pr.py#L42) regular expression, assembled via [this code](https://github.com/cms-sw/cms-bot/blob/485b0316404a788416d5c953764deb21aa59b375/process_pr.py#L68) would allow a malicious user to inject whatever code that would be run on the testing machine. For example, an argume

[2021-04-22 09:32] cmsbuild commented on #1539
A new Issue was created by  @rovere Marco Rovere.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-22 11:27] silviodonato commented on #1539
Thanks Marco. I started a dummy test in https://github.com/cms-sw/cmssw/pull/33490

[2021-04-22 11:44] smuzaffar commented on #1539
@rovere , thanks for taking the time to look in to this. Yes I know this but this check is only valid for cms authenticated users e.g see
https://github.com/cms-sw/cms-bot/blob/485b0316404a788416d5c953764deb21aa59b375/process_pr.py#L589
https://github.com/cms-sw/cms-bot/blob/485b0316404a788416d5c953764deb21aa59b375/process_pr.py#L672

so we trust our valid users to not abuse it. The valid users ha

[2021-04-22 16:25] silviodonato commented on #1539
Let me just add that the issue is real (see https://cmssdt.cern.ch/jenkins/job/ib-run-pr-relvals/3747/consoleFull ).

Interesting :-)

[2021-04-22 19:00] dpiparo commented on #1539
I wonder if we could put some fences, e.g. in Python you would use
[code]
Maybe adjusting the regex and protecting against malicious execution on the target machine?

[2021-04-22 19:19] apfeiffer1 commented on #1539
hmm ... two simple (simplistic??) suggestions:

a) replace RELVAL_OPTS="[a-zA-Z0-9_-][a-zA-Z0-9_-]*"  with RELVAL_OPTS="^[a-zA-Z0-9_-][a-zA-Z0-9_-]*$" if you want the options to _only_ contain alpha-numerics ... that would render any option with a ";" (and/or any other char) as failing the match.

b) simply replace any ";" in the options with "#"  (that would need the options to be the last item w

[2021-04-22 22:01] smuzaffar commented on #1539
@dpiparo , I can update the regexp to be `^[-]{1,2}[a-zA-Z0-9_.,\s-]+` (note, we need to allow `[,.]` ). This will not allow to pass `;` or any quotes. But as I wrote the risk is always there as any one who is allowed to start a PR test can make a PR with a unit test to run any thing he/she wants.

[2021-04-22 22:18] smuzaffar commented on #1539
see https://github.com/cms-sw/cms-bot/pull/1541

[2021-04-22 22:26] smuzaffar commented on #1539
#1541 is merged now and cms-bot now does not allow `;` in the relval_opts ( see https://github.com/cms-sw/cmssw/pull/33490#issuecomment-824757185 where bot has thumbs down the comment with invalid opts). But as I said, there risk is still there. Only option to avoid this risk is that we only allow release managers to start tests and add test parameters but that is not practical

[2021-04-23 09:52] dpiparo commented on #1539
This is the reason why our integration flow foresees review of the code before it's merged, right?

[2021-04-25 15:40] smuzaffar commented on #1539
yes but I am not sure if it is reviewed thoroughly before requesting the tests to start :-)

[2021-06-03 15:28] smuzaffar commented on #1539
#1541 fixes this

[2021-06-03 15:28] #1539 closed

[2021-08-03 16:15] jpata opened #1605 "bot / github UI get confused if the same branch is used for multiple PRs"
See e.g. the picture below, which is for https://github.com/cms-sw/cmssw/pull/34713, but includes messages also for https://github.com/cms-sw/cmssw/pull/34743. As @perrotta pointed out, both PRs use the same branch (this happens every once in a while). This means that the last "+1" and the github test status are not in sync, which can be confusing.

<img width="799" alt="Screenshot 2021-08-03 at 1

[2021-08-03 16:15] cmsbuild commented on #1605
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-08-03 16:23] smuzaffar commented on #1605
@jpata  this is known issue. The github statuses (which you see at the end of PR) belongs to the actual commit. So if same commit is used for multiple PRs then github is going to show that status in all  PRs. To avoid bot setting the final "test-approved/rejected" status , we use PR number in the status (e.g. cms/34743 and cms/34713). So once all the statuses for PR 34743 have result then bot is g

[2021-09-03 06:24] smuzaffar commented on #1605
closing it as this is not in our control. This is feature of github itself

[2021-09-03 06:24] #1605 closed

[2021-09-08 16:32] smuzaffar opened #1623 "Add battibass as muon-dpg L2"
@battibass, I see that you have requested to be member of @cms-sw/muon-dpg-l2 . The correct way to do this is update https://github.com/cms-sw/cms-bot/blob/master/categories.py#L87 and add `muon-dpg` for your user.

[2021-09-08 16:33] cmsbuild commented on #1623
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-08 17:03] battibass commented on #1623
@smuzaffar, thanks.
Let me mention one thing before proceeding though: I made the request because I saw muon-dpg being called into question [here](https://github.com/cms-sw/cmssw/pull/35105#issuecomment-913655306).
Now, in the present setup, this implies that the only one that gets warned in cases like this is the DPG office coordinator of the 4 muon DPGs (@mileva).
For specific requests where you

[2021-09-08 17:26] mileva commented on #1623
Hi! I have to admit that I blindly believed that muon-dpg mention all the muon sybsitems dpg. I agree with @battibass it will be more efficient for similar specific cases to notify also csc/dt/rpc/gem-dpg.

[2021-09-29 09:10] smuzaffar commented on #1623
closing it

[2021-09-29 09:10] #1623 closed

[2021-09-30 07:48] smuzaffar commented on #1525
@jpata , for IBs we do parse the job reports and accumulate this in elastic search e.g. see this grafana page
https://monit-grafana.cern.ch/d/bB9CsmHWz/cmssdt-ibmatrix?orgId=11&var-release=CMSSW_12_1_X&var-release_2=CMSSW_12_1_ROOT624_X&var-release_3=CMSSW_12_1_DEVEL_X&var-field=AvgEventTime&var-architecture=All&var-workflow=1.0&var-step=All

[2021-10-04 08:39] jpata commented on #1525
Thanks, I was wondering if it would make sense to also add to the bot report & `enable profiling` output.

[2021-10-04 08:39] #1525 closed

[2021-10-04 08:41] jpata opened #1642 "add step5 / NANO for reco release profiling"
As suggested by @cms-sw/xpog-l2 (@mariadalfonso) in a private mail thread, it may be useful to add step5 / NANO profiling for the reco release profiling that's run via jenkins.
It would have to be added here: https://github.com/cms-sw/cms-bot/blob/master/reco_profiling/profileRunner.py

I'm making a note here so that it's not forgotten.

[2021-10-04 08:42] cmsbuild commented on #1642
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-04 08:42] jpata commented on #1642
assign reconstruction

(not sure if this works here?)

[2021-10-04 08:42] cmsbuild commented on #1642
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-05 14:09] jpata commented on #1642
This is implemented in https://github.com/jpata/cms-bot/tree/jpata_nano_profiling, I will test it when the next release comes out in the next days.

[2022-01-26 10:23] smuzaffar opened #1703 "Test UBI8 and AlmaLinux8"

[2022-01-26 10:23] cmsbuild commented on #1703
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-26 10:25] smuzaffar commented on #1703
the following results shows that we can run existing CS8 IBs (without rebuild) under UBI8 env (https://github.com/cms-sw/cms-bot/pull/1691#issuecomment-1020058437)

- `cs8_ppc64le_gcc11`: https://github.com/cms-sw/cms-bot/pull/1691#issuecomment-1018430350
- `cs8_amd64_gcc10`: https://github.com/cms-sw/cms-bot/pull/1691#issuecomment-1018641942
- `cs8_amd64_gcc11`: https://github.com/cms-sw/cms-bot/

[2022-01-26 10:28] smuzaffar commented on #1703
Running UBI8 IBs under CS8 env also works
- `ubi8_amd64_gcc10` : https://github.com/cms-sw/cms-bot/pull/1694#issuecomment-1020552112
- `ubi8_aarch64_gcc11` : https://github.com/cms-sw/cms-bot/pull/1694#issuecomment-1020648339
- `ubi8_ppc64le_gcc11` : https://github.com/cms-sw/cms-bot/pull/1694#issuecomment-1020724145

[2022-01-26 10:34] smuzaffar commented on #1703
Running CS8/UBI8 IBs under AlmaLinux8  looks good too
- `cs8_amd64_gcc10` : full cmssw rebuild: https://github.com/cms-sw/cms-bot/pull/1697#issuecomment-1021950459
- `cs8_amd64_gcc10` : partial rebuild: https://github.com/cms-sw/cms-bot/pull/1698#issuecomment-1021751108
- `cs8_amd64_gcc10`: no rebuild: https://github.com/cms-sw/cms-bot/pull/1699#issuecomment-1021742288
- `ubi8_amd64_gcc10` : full

[2022-01-26 10:38] smuzaffar commented on #1703
Running Alma8 IBs under CS8
- `alma8_amd64_gcc10` : no rebuild: FIXME
- `alma8_amd64_gcc10` : partial rebuild: FIXME
- `alma8_amd64_gcc10` : full cmssw rebuild: FIXME

[2022-01-26 10:38] smuzaffar commented on #1703
Running Alma8 IBs under UBI8
- `alma8_amd64_gcc10` : no rebuild: FIXME
- `alma8_amd64_gcc10` : partial rebuild: FIXME
- `alma8_amd64_gcc10` : full cmssw rebuild: FIXME

[2022-02-11 13:54] smuzaffar commented on #1703
Now there are two jenkins tests running regularly to test
- https://cmssdt.cern.ch/jenkins/job/test-os-alma8/ : To test alma8 images and build and run cs8 cmssw
- https://cmssdt.cern.ch/jenkins/job/test-os-cs8/ : To test cs8 images and build and run alma8 cmssw

[2022-03-08 10:15] #1703 closed

[2022-03-11 09:17] smuzaffar commented on #937
@kpedro88 , https://github.com/cms-sw/cms-bot/pull/1716 now allows bot to generate baseline for extra workflows tested for PR and use it during PR comparison tests. What else is needed in order to to complete high-stat relval tests?

[2022-03-11 09:17] cmsbuild commented on #937
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-11 14:46] kpedro88 commented on #937
@smuzaffar to confirm, if I request (using cms-bot test parameters relvals_opt) more events for standard workflows (that already have 10-event samples generated in IBs and PR tests), will the bot recognize that this is a "different" workflow that needs to be rerun in the IB as well, to provide the comparison?

[2022-03-11 14:56] kpedro88 commented on #937
@smuzaffar okay, I think that would resolve this issue.

[2022-03-11 15:00] smuzaffar commented on #937
we should come up with a list of workflows and default number of events for high-stats tests. Do you have any workflow in mind which I can use to test?

[2022-03-11 15:06] kpedro88 commented on #937
35034.0 is the current Phase 2 baseline workflow. 11634.0 might be useful to have a Run 3 test for changes proposed with a shorter timescale.

@cms-sw/upgrade-l2 should comment if they have other preferences.

[2022-03-11 15:06] kpedro88 commented on #937
Default number of events, maybe 1000? This could be a configurable parameter of the `enable high-stat` option.

[2022-03-11 15:11] AdrianoDee commented on #937
@kpedro88 `35034.0` is fine for Phase2.

[2022-03-17 14:32] smuzaffar commented on #937
@kpedro88 , PR https://github.com/cms-sw/cms-bot/pull/1728 should allow to run `high_stats` relvals and comparison . Currently bot runs `35034.0` with `1000` events for `high_stats` tests. If you have any cmssw PR to test this then please use
[code]

Note that as number of events should remain same for both baseline and PR, so it is not possible to change the evnets via Pr comment.

[2022-03-21 09:22] smuzaffar commented on #1188
@christopheralanwest , I am going to update bot which should allow us to generate baseline on demand (https://github.com/cms-sw/cms-bot/pull/1728 ). I think we can make use of this new feature to generate on demand baseline using extra PRs too e.g.

- `please test using baseline baseline-prs`
- `please test with prs using baseline baseline-prs`

can generate baseline using `IB+baseline-prs` and us

[2022-03-21 14:39] christopheralanwest commented on #1188
The feature requested in this PR would have been useful during the preparation for the Legacy production when new GT updates needed to be integrated before the PR including the previous set of updates had been merged. I don't know if GT changes are requested frequently enough nowadays that the feature is necessary. I'm no longer working on AlCa PRs so I don't need this feature myself, but I've add

[2022-03-21 15:06] francescobrivio commented on #1188
assign alca

 - we'll need to digest a bit this before giving a coheren answer :)

[2022-03-23 11:30] smuzaffar commented on #937
https://github.com/cms-sw/cms-bot/pull/1728 has been merged and one should be able to request `high_stats` PR tests . Note that currently it runs workflow `35034.0` with `500` events. 1000 event takes too much time (over 5 hours) and generate over 10GB of data.

[2022-04-26 15:40] jpata opened #1755 "PF as a PR type"
Here the POG/DPG PR types were added:
https://github.com/cms-sw/cms-bot/pull/1749/files#diff-42b4cf2f70b1aadfa319d24d205b5132e0db23276950e6af5fe43107fcb07a05R170

but this excludes PF, which is a useful type for reco.

If possible, perhaps `type pf` can also be added? Thanks!

[2022-04-26 15:40] cmsbuild commented on #1755
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-21 06:24] smuzaffar commented on #937
high stats relvals tests and comparisons are now supported

[2022-06-21 06:24] #937 closed

[2022-09-02 08:22] vlimant opened #1820 "patching command"
as per this comment https://github.com/cms-sw/cmssw/pull/38948#issuecomment-1205192983  from @smuzaffar it should be possible to have a gitbot command to apply a patch

[2022-09-02 08:23] cmsbuild commented on #1820
A new Issue was created by  @vlimant vlimant.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-02 12:19] #1820 closed

[2022-09-02 12:47] smuzaffar commented on #1820
@vlimant thanks for opening the issue. https://github.com/cms-sw/cms-bot/pull/1821 change should now allow to run code-checks plus apply the changes.

When you open a PR for cmssw master branch then bot automatically run the code-checks. In case you want bot to automatically apply the code formatting changes then you can add `code-checks and apply patch` comment

[2022-09-02 13:26] vlimant opened #1823 "Integrate part of NANO test in cmsbot commands"
I am opening this issue to collect advice on how to best integrate some of the tests that are ran by xpog as part of the integration of NANO release. There is a gitlab workflow (that I learning the rope of ATM) https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/-/blob/master/.gitlab-ci.yml and it seems that 90% of it is a duplicate/repcursor of what cmsbot is doing with PR, with a NANOAOD cher

[2022-09-20 10:10] smuzaffar commented on #1823
closing this one in favor of cms-sw/cmssw#39452

[2022-09-20 10:10] #1823 closed

[2022-10-11 08:32] smuzaffar opened #1850 "Use cvmfs parallel publishers/gateway to deploy CMSSW IBs"

[2022-10-11 08:33] cmsbuild commented on #1850
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-11 08:33] smuzaffar commented on #1850
Two test publisher and one gateway has been set by CERN IT to test this.

[2022-10-11 08:37] smuzaffar commented on #1850
FYI @jblomer @aandvalenzuela @iarspider
@jblomer , if we get a lease for `/somepath` then can we still update `/.cvmfsdirtab` or cvmfs is going to ignore  `/.cvmfsdirtab` changes?

[2022-10-11 22:17] jblomer commented on #1850
It's true that on the publisher nothing prevents you from editing files outside your lease. But you won't be able to publish these changes.

[2022-10-13 08:22] aandvalenzuela opened #1854 "Workflow `39634.21` undefined in `igprof` 12_6_X"
Hello,

We are having some failures in `igprof` jobs due to workflow `39634.21` not defined:
[code]
See complete stack trace: https://cmssdt.cern.ch/jenkins/job/ib-run-igprof/37997/console
Failures appear only in in `CMSSW_12_6_X`. Could this be related with the clean-up of workflows performed in `12_6_X`?

I also see that this workflow has been hardcoded in [cms-cmpwg/profiling](https://github.co

[2022-10-13 08:22] cmsbuild commented on #1854
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-13 13:18] makortel commented on #1854
I think this workflow is one of the phase2 workflows that were renumbered recently.  @srimanob could you confirm?

[2022-10-13 13:25] srimanob commented on #1854
39634.21 is prod workflow of PU ttbar with D88. The workflow id is reset. The new id for this is 21034.21.

[2022-10-13 13:39] gartung commented on #1854
The workflow for the Jenkins job is defined here
https://github.com/cms-sw/cms-bot/blob/5e40a1f65081f1832fcf9e16a851be68886bb378/cmssw-pr-test-config#L3
I can't modify that repo through the web interface.

[2022-10-13 15:16] aandvalenzuela commented on #1854
@srimanob, is the new wf id `21034.21` also valid for older release cycles (i.e. 12.4.X/12.5.X)?

[2022-10-13 15:49] srimanob commented on #1854
Nope. Only 12_6.

[2022-10-14 06:47] #1854 closed

[2022-10-14 06:58] srimanob commented on #1854
By the way, @smuzaffar, should we update the wf for profiling?
https://github.com/cms-sw/cms-bot/blob/master/cmssw-pr-test-config#L3

[2022-10-27 13:20] smuzaffar commented on #1850
@jblomer , can we have .cvmfsdirtab under sub-directories e.g. can we have
- /cvmfs/repo.cern.ch/x86_64/.cvmfsdirtab
- /cvmfs/repo.cern.ch/aarch64/.cvmfsdirtab
- /cvmfs/repo.cern.ch/ppc64le/.cvmfsdirtab

[2022-10-31 11:07] smuzaffar commented on #1850
@jblomer @HereThereBeDragons , I see that cvmfs api for lease returns `key_id` [a] and looks like this is read from `/etc/cvmfs/keys/repo.gw` file. Can each publisher use a different key? I tired changing `/etc/cvmfs/keys/repo.gw`  file but then transaction failed
[code]

[a]
[code]

[2022-10-31 11:08] smuzaffar commented on #1850
@jblomer @HereThereBeDragons  can you please also answer https://github.com/cms-sw/cms-bot/issues/1850#issuecomment-1293517758 ? Can we create `.cvmfsdirtab` in sub-directories or it only works for top level directory?

[2022-11-01 08:22] smuzaffar commented on #1850
@jblomer @HereThereBeDragons , actually no need to have separate key_ids for each publisher. The session token is enough to find out the open transaction.

By the way, is there any way to set the lease time at the time of transaction? There are some transactions ( specially when running under `qemu`) which can take more than 2 hours ( which is default `max_lease_time`) and it would we nice if one

[2022-11-01 09:22] smuzaffar commented on #1850
@jblomer  @HereThereBeDragons, when running `gc` on gateway, I get this error [a]. does this mean `gc` failed?

[a]
[code]

[2022-11-01 22:02] jblomer commented on #1850
Currently that's not possible, unfortunately. Only the .cvmfsdirtab file in the root directory is parsed.

[2022-11-01 22:06] jblomer commented on #1850
Yes, that is possible.  You need to use the single-file configuration mechanism in a single file as described here:
https://cvmfs.readthedocs.io/en/stable/cpt-repository-gateway.html#advanced-repository-configuration

See also #3071

[2022-11-01 22:08] jblomer commented on #1850
GC itself worked. The error is nevertheless unexpected. Could you ask IT to give us root access to the gateway so that I can investigate?

[2022-11-01 22:11] jblomer commented on #1850
Currently you cannot set the lease time on a transaction basis. Every transaction gets the lease time configured in the gateway. But you can increase that duration in the gateway. If a transaction returns earlier, the lease is immediately released.

[2022-11-01 22:30] smuzaffar commented on #1850
isn't it for keys restricting subpaths OR can I have multiple keys for same path e.g.
[code]

[2022-11-01 22:41] smuzaffar commented on #1850
Problem is that there are some transactions which should not take more than few secs and some can take couple of hours. If a small publish job on `publisher A` (with lease for `/PATH`) fails ( e.g. jenkins lost the connection or some other glitch) then it leaves the transaction open. Now if another job starts on different `publisher B` and try to get the lease for `/PATH`  then it has to wait for

[2022-11-02 22:20] jblomer commented on #1850
Different keys for the same path should be fine.

[2022-11-17 13:28] slava77 opened #1884 "add automatic labeling of PR types from package lists"
to simplify searching/monitoring a list of relevant PRs, I'd like to introduce possibility to add lists of packages which, if modified in a PR will trigger a label for the PR.
This is instead of manual `type xyz`.

Opt-in strategy is probably OK.
This can start with a map file connecting type label with a list of packages.
Relevant `@cms-sw/xyz-{pog,dpg}-l2` would then be able to propose or signof

[2022-11-17 13:28] cmsbuild commented on #1884
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-25 14:37] smuzaffar commented on #1884
@slava77 , so basically we extend https://github.com/cms-sw/cms-bot/blob/master/categories_map.py and add also a mapping for labels/packages e.g. something like [a]? And I guess the `label` in `categories_map.py` should have a matching `pog|dpg` entry in https://github.com/cms-sw/cms-bot/blob/master/categories.py  ... right?

[a]
[code]

[2022-11-25 14:59] slava77 commented on #1884
not exactly, or at least not at the level it's done in categories_map/categories py files.
I'm asking for a non-blocking label, while the examples you take are for blocking labels (e.g. `reconstruction-pending`).

As an example for tracking, I'd like to see for PRs touching packages in e.g. `RecoTracking` to be labeled with `tracking` (the same that I get now with `type tracking`). This is to simp

[2022-11-25 15:27] smuzaffar commented on #1884
Blocking labels are defined via `CMSSW_CATEGORIES` (https://github.com/cms-sw/cms-bot/blob/master/categories_map.py#L1 ) . I have suggested to add new `CMSSW_LABELS`  to keep track of these non-blocking labels. We can add it in to a different file but I suggest to keep it in `categories_map.py` so that one just need to update single file for cmssw packages.

though doable but not allowing the wild

[2022-11-25 15:57] slava77 commented on #1884
`CMSSW_LABELS` sounds good.

Good point, but still this seems more appropriate for blocking labels.
Would it be possible to have wildcards for non-blocking labels?

[2022-11-25 16:10] smuzaffar commented on #1884
yes we can support that for non-blocking labels.